@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|Oswald');

/*presets*/

h1{f font-family: 'Oswald', sans-serif; }

.jumbotron.hero {
  color: white;
  background-image: url("img/array-hero-burial-of-kojo.gif");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 40vh;
  margin
}

.bg-darker{
  background-color: #000;

}
